main {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}


.secao-geral {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 100px 0;
    background: #01a2ca02;
    
}
.hero-section {
    display: flex;
    justify-content: center;
    
    flex-wrap: wrap;
    gap: 150px;
    
}


.hero-texto-button {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    
}

.titulo-paragrafo h1 {
    font-size: clamp(28px, 5vw, 48px);
    color: #1f2937;

}

.titulo-paragrafo p {
    font-size: clamp(14px, 2.5vw, 16px);
    color: #6b7280;
    max-width: 450px;
}


.buttons-container {
    display: flex;
    gap: 15px;
}


.button-buscar-vagas {
    background: transparent;
    border: 2px solid #2563EB;
    color: #2563EB;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.button-buscar-vagas:hover {
    background: #2563EB;
    color: white;
}


.button-adicionar-vagas {
    background: #2563EB;
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}

.button-adicionar-vagas:hover {
    background: #1e40af;
}


.imagem-inicio img {
    width: 350px;
    object-fit: cover;
}




/* como funciona, oque e vagaExpress */
.como-funciona{
    width: 100%;
    text-align: center;
    
}
.textos{
    width: 100%;
    display: flex;
    gap: 20px;
    margin-top: 35px;
    align-items: center;
    
}
.sobre-vagaExpress{
    text-align: left;
    max-width: 450px;
    max-height: 200px;
    background-color: #f9fafb;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #d1d5db4d;
    transition: 0.3s;
    cursor: pointer;
    
}
.sobre-vagaExpress h1{
    font-size: 16px;
    color: #1f2937;
}
.sobre-vagaExpress p{
    font-size: 11px;
    color: #6b7280;
}
.sobre-vagaExpress:hover{
    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}




.como-funciona-vagaExpress{
    text-align: left;
    max-width: 450px;
    max-height: 200px;
    background-color: #f9fafb;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #d1d5db4d;
    transition: 0.3s;
    cursor: pointer;
    
}
.como-funciona-vagaExpress h1{
    font-size: 16px;
    color: #1f2937;

}
.como-funciona-vagaExpress p{
    font-size: 11px;
    color: #6b7280;
}
.como-funciona-vagaExpress:hover{
    background-color: #e5e7eb;
    border: 1px solid #d1d5db;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* MOBILE */
@media (max-width: 768px) {
    .secao-geral {
    /*padding: 70px 0;*/
    padding: 0px;
    gap: 20px;
}

    .hero-section {
        flex-direction: column;
        align-items: center;
        gap: 40px;
        text-align: start;
        
    }
    .hero-texto-button {
        padding: 0 20px;
    }

    .titulo-paragrafo h1 {
        font-size: 32px;
        padding-bottom: 15px;
    }

    .titulo-paragrafo p {
        font-size: 14px;
        max-width: 100%;
    }

    .buttons-container {
        justify-content: center;
        flex-wrap: wrap;
    }

    .imagem-inicio img {
        display: none;
    }

    .textos {
        flex-direction: column;
        align-items: center;
    }

    .sobre-vagaExpress,
    .como-funciona-vagaExpress {
        max-width: 100%;
    }
}


/* TABLET */
@media (min-width: 740px) and (max-width: 1025px) {
    .secao-geral {
    padding: 15px 0;
    gap: 0px;

    
}

    .hero-section {
        padding: 25px;
        align-items: center;
        gap: 0px;
    }


    .imagem-inicio img {
        display: none;
    }

    .textos {
        justify-content: center;
        flex-wrap: nowrap;
    }

    .sobre-vagaExpress,
    .como-funciona-vagaExpress {
        max-width: 47%;
    }
}


/* NOTEBOOK/TABLET */
@media (min-width: 1024px) and (max-width: 1500px) {

    .hero-section {
        gap: 100px; 
    }

    .imagem-inicio img {
        display: none;
    }

    .textos {
        justify-content: center;
    }
}


/* TELA GRANDE */
@media (min-width: 1281px) {

    .hero-section {
        gap: 0px; /* seu padrão original */
    }

    .imagem-inicio img {
        width: 350px;
    }
}