@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    display: flex;
    min-height: 100vh;
    background-color: #e4e4e400;
}


#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 82px;
    background-color: #eeeeee;
    border-radius: 0 18px 18px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s;
    z-index: 1000;
}


#sidebar.open-sidebar {
    width: 250px;
}

#sidebar_content {
    padding: 12px;
}


#user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

#user_avatar {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    object-fit: cover;
}

#user_infos {
    display: flex;
    flex-direction: column;
}
#user_infos span:last-child {
    color: #6b6b6b;
    font-size: 12px;
}


#side_items {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side-item {
    padding: 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.side-item.active {
    background-color: #2563EB;
}

.side-item:hover:not(.active) {
    background-color: #cccccc;
}

.side-item a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3b3b3b;
    
}

.side-item.active a {
    color: white;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}


.item-description {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 15px;
    font-weight: 500;
}


#sidebar.open-sidebar .item-description {
    width: 150px;
}


#sidebar.open-sidebar .side-item a {
    justify-content: flex-start;
    gap: 10px;
}


#open_btn {
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #2563EB;
    color: #e3e9f7;
    border-radius: 100%;
    width: 20px;
    font-size: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 20px;
    border: none;
    cursor: pointer;
}


#open_btn_icon {
    transition: 0.3s;
}

#sidebar.open-sidebar #open_btn_icon {
    transform: rotate(180deg);
}


#logout {
    border-top: 1px solid #ddd;
    padding: 12px;
}

#logout_btn {
    border: none;
    background: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 10px;
}


main {
    margin-left: 82px;
    width: calc(100% - 82px);
    transition: 0.5s;
}


#sidebar.open-sidebar ~ main {
    margin-left: 250px;
    width: calc(100% - 250px);
}