.boas-vindas {
        background-image: url('/static/img/background-editar-perfil.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 100%;
        border-radius: 15px;
    }


    .texto {
        color: #ffffff;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 30px;

    }

    .texto h1 {
        font-size: 36px;

    }

    .texto p {
        font-size: 15px;
    }

    .botoes {
        display: flex;
        gap: 20px;
    }

    .btn-sair,
    .btn-comecar {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-sair {
        background-color: #e53e3ee8;
        color: #fff;
    }

    .btn-sair:hover {
        background-color: #c5303062;
    }

    .btn-comecar {
        background-color: #0f0f27;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 300ms ease;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08)
    }

    .btn-comecar:hover {
        background-color: #181842ee;
        border: 1px solid #ffffff91;
        box-shadow: 0px 0px 10px rgba(33, 14, 248, 0.26);
        transform: translateX(15px);

    }

    .btn-comecar i {
        font-size: 13px;
        margin-left: 7px;
    }



@media (max-width: 1200px) and (min-width: 1000px) {
        .boas-vindas {
            width: 50%;
            height: 690px;
            border-radius: 15px;
        }
}

@media (max-width: 999px) and (min-width: 769px) {
        .boas-vindas {
            width: 50%;
            height: 590px;
            border-radius: 15px;
        }
        .texto {
            background: none;
            border: none;
            padding: 8px;
            margin-bottom:  10px;

        }
            .texto h1 {
        font-size: 30px;

        }

        .texto p {
            font-size: 13px;
        }

        .botoes {
            display: flex;
            gap: 10px;
            margin-bottom: 60px;
        }

        .btn-sair,
        .btn-comecar {
            padding: 7px 20px;
            border: none;
            border-radius: 5px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .btn-comecar {
            background-color: #0f0f27;
            color: #fff;
            align-items: center;
            justify-content: center;
            text-align: center;
            transition: 300ms ease;
            border: 1px solid rgba(255, 255, 255, 0.2);
            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08)
    }

        .btn-comecar:hover {
            background-color: #181842ee;
            border: 1px solid #ffffff91;
            box-shadow: 0px 0px 10px rgba(33, 14, 248, 0.26);
            transform: translateX(15px);

        }
}

@media (max-width: 768px) and (min-width: 361px) {
        .boas-vindas {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 20px;
            border-radius: 15px;
        } 

        .texto {
            background: none;
            border: none;

        }

        .texto h1 {
            font-size: 29px;
        }

        .texto p {
            font-size: 14px;
        }

        .botoes {
            gap: 15px;

        }

        .btn-comecar {
            justify-content: center;
        }

body{
    overflow: hidden;
}
.secao1, .secao2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* estado inicial tela1 */
.secao1 {
  transform: translateX(0%);
}

.secao2 {
  transform: translateX(100%);
  opacity: 0;
}
}

@media (max-width: 360px) {
        .boas-vindas {
            width: 100%;
            height: 100%;
            display: flex;
            padding: 20px;
            border-radius: 15px;
        } 


    
    .texto {
        color: #ffffff;
        text-align: center;
        padding: 5px;
        border-radius: 10px;
        margin-bottom: 30px;

    }

    .texto h1 {
        font-size: 25px;

    }

    .texto p {
        font-size: 11px;
    }

    .botoes {
        display: flex;
        gap: 15px;
    }

    .btn-sair,
    .btn-comecar {
        padding: 8px 10px;
        border: none;
        border-radius: 5px;
        font-size: 12px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .btn-sair {
        background-color: #e53e3ee8;
        color: #fff;
    }

    .btn-sair:hover {
        background-color: #c5303062;
    }

    .btn-comecar {
        background-color: #0f0f27;
        color: #fff;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: 300ms ease;
        border: 1px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08)
    }

    .btn-comecar:hover {
        background-color: #181842ee;
        border: 1px solid #ffffff91;
        box-shadow: 0px 0px 10px rgba(33, 14, 248, 0.26);
        transform: translateX(15px);

    }

    .btn-comecar i {
        font-size: 11px;
        margin-left: 7px;
    }

    body{
    overflow: hidden;
}


    .secao1, .secao2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        transition: transform 0.5s ease, opacity 0.5s ease;
        }

    .secao1 {
        transform: translateX(0%);
        }

    .secao2 {
        transform: translateX(100%);
        opacity: 0;
        }
}
        













    .bg-animado {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #0f0f27;
        overflow: hidden;
        z-index: 0;
    }
    .bg-animado span {
        position: absolute;
        display: block;
        border-radius: 50%;
        background: rgb(22, 19, 59);
        animation: flutuar 20s linear infinite;
        bottom: -150px;
    }
    .bg-animado span:nth-child(1) {
        left: 10%;
        width: 60px;
        height: 60px;
        animation-duration: 18s;
    }
    .bg-animado span:nth-child(2) {
        left: 30%;
        width: 100px;
        height: 100px;
        animation-duration: 25s;
    }
    .bg-animado span:nth-child(3) {
        left: 50%;
        width: 40px;
        height: 40px;
        animation-duration: 15s;
    }
    .bg-animado span:nth-child(4) {
        left: 70%;
        width: 80px;
        height: 80px;
        animation-duration: 22s;
    }
    .bg-animado span:nth-child(5) {
        left: 90%;
        width: 50px;
        height: 50px;
        animation-duration: 20s;
    }
    @keyframes flutuar {
        0% {
            transform: translateY(0) scale(1);
            opacity: 0.3;
        }

        100% {
            transform: translateY(-1000px) scale(1.2);
            opacity: 0;
        }
    }