<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/side-bar.css">
    <link rel="stylesheet" href="/static/css/hero-section.css">

    <title>VagaExpress</title>
</head>

<body>


    <nav id="sidebar">
        <div id="sidebar_content">

            <div id="user">
                <img src="/static/img/avatar-1.jpg" id="user_avatar" alt="Avatar">

                <p id="user_infos">
                    <span class="item-description">Usuario 001</span>
                    <span class="item-description">Empregador</span>
                </p>
            </div>

            <ul id="side_items">
                <li class="side-item active">
                    <a href="#">
                        <i class="fa-regular fa-house"></i>
                        <span class="item-description">Inicio</span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-briefcase"></i>
                        <span class="item-description">Buscar vagas</span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-circle-plus"></i>
                        <span class="item-description">Publicar Vagas</span>
                    </a>
                </li>

                <li class="side-item">
                    <a href="#">
                        <i class="fa-solid fa-gear"></i>
                        <span class="item-description">Configurações</span>
                    </a>
                </li>
            </ul>

            <button id="open_btn">
                <i id="open_btn_icon" class="fa-solid fa-chevron-right"></i>
            </button>
        </div>

        <div id="logout">
            <button id="logout_btn">
                <i class="fa-solid fa-right-from-bracket"></i>
                <span class="item-description">Sair</span>
            </button>
        </div>
    </nav>


    <main>
        <section class="secao-geral">


            <section class="hero-section">
                <div class="hero-texto-button">
                    <div class="titulo-paragrafo">
                        <h1>Riversul empregabilidade</h1>
                        <p>
                            Acesse o site e confira os serviços disponíveis na sua cidade.
                            Encontre profissionais e soluções perto de você de forma rápida,
                            prática e segura.
                        </p>
                    </div>

                    <div class="buttons-container">
                        <button class="button-buscar-vagas">Buscar Vagas</button>
                        <button class="button-adicionar-vagas">Adicionar Vagas</button>
                    </div>


                    
                    <section class="como-funciona">
                        <div class="textos">
                            <div class="sobre-vagaExpress">
                                <h1>VagaExpress</h1>
                                <p>
                                    O VagaExpress é uma plataforma de emprego inovadora que tem como objetivo facilitar
                                    a
                                    conexão
                                    entre empregadores e candidatos.
                                    Com uma interface amigável e recursos avançados, o VagaExpress oferece uma
                                    experiência única
                                    para quem busca oportunidades.
                                </p>

                            </div>

                            <div class="como-funciona-vagaExpress">
                                <h1>Como funciona?</h1>
                                <p>
                                    O VagaExpress é uma plataforma de emprego que conecta empregadores e candidatos de
                                    forma
                                    rápida e
                                    eficiente.
                                    Os empregadores podem publicar vagas de emprego, enquanto os candidatos podem buscar
                                    e se
                                    candidatar
                                    a essas vagas.

                                </p>

                            </div>

                        </div>
                    </section>
                </div>

                <div class="imagem-inicio">
                    <img src="/static/img/ilustracao-inicio.png" alt="">
                </div>
            </section>


        </section>

    </main>

    <script src="/static/js/script.js"></script>

</body>

</html>