<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="/static/css/criar-perfil/editar-perfil-tela1.css">
    <link rel="stylesheet" href="/static/css/criar-perfil/editar-perfil-tela2.css">
    <link rel="stylesheet" href="/static/css/criar-perfil/popup.css">
    <title>Document</title>
</head>

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Nunito', sans-serif;

    }

    .container-editar-perfil {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ffffff00;
        height: 100vh;
        position: relative;
        z-index: 1;

    }

    .secoes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1100px;
        position: relative;
        overflow: hidden;
        height: 800px;
        background: #0f0f27;
        border: 1px solid rgba(255, 255, 255, 0.082);
        border-radius: 15px;
    }

    @media (max-width: 1200px) and (min-width: 1000px) {
        .secoes {
            width: 1000px;
            height: 700px;
            border-radius: 15px;
        }
    }

    @media (max-width: 999px) and (min-width: 769px) {
        .secoes {
            width: 750px;
            height: 600px;
            border-radius: 15px;
        }
    }

    @media (max-width: 768px) {
        .secoes {
            width: 90%;
            height: 90%;
            border-radius: 15px;
        }

    }

   
</style>

<body>


    <div class="bg-animado">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>


    <div class="container-editar-perfil">
        <section class="secoes">


            <section class="boas-vindas secao1">
                <div class="texto">
                    <h1>Oportunidades esperando por você</h1>
                    <p>Deixe seu perfil pronto e bora começar</p>
                </div>

                <div class="botoes">
                    <button class="btn-sair">Sair</button>
                    <button class="btn-comecar">Começar<i class="fa-solid fa-arrow-right"></i></button>
                </div>

            </section>






            <section class="criar-perfil secao2">

                <div class="btn-voltar">
                    <i class="fa-solid fa-arrow-left"></i>
                </div>

                <div class="foto-perfil">
                    <img id="foto-perfil-img" src="/static/img/avatares/masculino/avatar-masculino-1.jpg" alt="">
                </div>

                <div class="formulario">
                    <form method="POST" action="{{ url_for('usuario.criar_perfil') }}">
                        <div class="campo-info">
                            <label for="nome">Nome</label>
                            <input type="text" id="nome" name="nome" placeholder="Digite seu nome" required>
                        </div>

                        <div class="campo-info">
                            <label for="sobrenome">Sobrenome</label>
                            <input type="text" id="sobrenome" name="sobrenome" placeholder="Digite seu sobrenome"
                                required>
                        </div>
                        <div class="checkbox">
                            <input type="radio" id="empregador" name="tipo" value="Empregador" required>
                            <label for="empregador">Empregador</label>

                            <input type="radio" id="candidato" name="tipo" value="Candidato" required>
                            <label for="candidato">Candidato</label>
                        </div>
                            <div class="btn-criar-perfil">
                                <button type="submit">Criar Perfil</button>
                               <!-- 
                                <a href="#">
                                    <button id="entrar-perfil">Entrar</button>
                                </a>
                                -->
                            </div> 
                            <input type="hidden" name="avatar" id="avatar-input">
                    </form>   
                </div>
                
                
                        
            
                    <div class="escolha-avatar">
                        <p>Escolha um avatar</p>
                        <div class="opcoes-avatar">
                            <div class="avatares-masculino">
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/masculino/avatar-masculino-1.jpg"
                                        alt="Avatar 1">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/masculino/avatar-masculino-2.jpg"
                                        alt="Avatar 2">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/masculino/avatar-masculino-3.jpg"
                                        alt="Avatar 3">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/masculino/avatar-masculino-4.jpg"
                                        alt="Avatar 4">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/masculino/avatar-masculino-5.jpg"
                                        alt="Avatar 5">
                                </div>
                            </div>


                            <div class="avatares-femininos">
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/feminina/avatar-feminina-1.jpg"
                                        alt="Avatar 1">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/feminina/avatar-feminina-2.jpg"
                                        alt="Avatar 2">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/feminina/avatar-feminina-3.jpg"
                                        alt="Avatar 3">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/feminina/avatar-feminina-4.jpg"
                                        alt="Avatar 4">
                                </div>
                                <div class="avatar">
                                    <img class="avatar-img" src="/static/img/avatares/feminina/avatar-feminina-5.jpg"
                                        alt="Avatar 5">
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
<!--
                <div class="btn-criar-perfil">
                    <button type="submit">Criar Perfil</button>
                    <a href="/base.html">
                        <button type="submit" id="entrar-perfil">Entrar</button>
                    </a>
                </div>
-->               

            </section>
            

    </div>


    <div id="popup" class="popup">
    <p id="popup-msg">Mensagem</p>
</div>

    <script>
        // ajuste no novegador para nao ficar dando zoom
        document.addEventListener('gesturestart', function (e) {
            e.preventDefault();
        });
    </script>

    <script src="/static/js/editar-perfil/transicao-entre-secoes.js"></script>
    <script src="/static/js/editar-perfil/criar-perfil.js"></script>
</body>

</html>