        <footer class="footer">


            <div class="footer-container">


                <div class="footer-informacoes">
                    <h2 class="footer-nome">VagaExpress</h2>
                    <p class="footer-desc">
                        Conectando você às melhores oportunidades de forma rápida e direta.
                        Encontre vagas e fale com empresas sem burocracia.
                    </p>
                </div>


                <div class="footer-informacoes">
                    <h3>Navegação</h3>
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Vagas</a></li>
                        <li style="opacity: 0.6; pointer-events: none;"><a href="#">Empresas</a></li>
                        <li style="opacity: 0.6; pointer-events: none;"><a href="#">Contato</a></li>
                    </ul>
                </div>


                <div class="footer-informacoes">
                    <h3>Suporte</h3>
                    <ul>
                        <li><a href="#">Central de ajuda</a></li>
                        <li><a href="#">Termos de uso</a></li>
                        <li><a href="#">Privacidade</a></li>
                    </ul>
                </div>


                <div class="footer-informacoes">
                    <h3>Conecte-se</h3>
                    <div class="social-icons">
                        <a href="#" style="opacity: 0.6; pointer-events: none;"><i
                                class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-github"></i></a>
                        <a href="#" style="opacity: 0.6; pointer-events: none;"><i
                                class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>

            </div>



            <div class="footer-bottom">
                <p>© 2026 VagaExpress. Todos os direitos reservados.</p>
            </div>

        </footer>