<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- FONTES -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- ICONES -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">

    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/side-bar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/hero-section.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/pesquisa-vaga.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/card-vaga-inicio.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base/footer.css') }}">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/usuario.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/mobile-nav.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mobile/filtro-mobile.css') }}">

    <title>VagaExpress</title>
</head>