        <div class="nav-mobile">
            <ul>
                <li class="itens-mobile ">
                    <a href="#">
                        <span class="icone"><ion-icon name="home-outline"></ion-icon></span>
                        <span class="texto">Inicio</span>
                    </a>
                </li>
                <li class="itens-mobile">
                    <a href="#" id="publicar-vaga-mobile">
                        <span class="icone"><ion-icon name="add-outline"></ion-icon></span>
                        <span class="texto">Publicar</span>
                    </a>
                </li>
                <li class="itens-mobile active">
                    <a href="#">
                        <span class="icone"><ion-icon name="briefcase-outline"></ion-icon></span>
                        <span class="texto">Vagas</span>
                    </a>
                </li>
                <li class="itens-mobile">
                    <a href="#">
                        <span class="icone"><ion-icon name="settings-outline"></ion-icon></span>
                        <span class="texto">Config</span>
                    </a>
                </li>
                <li class="itens-mobile">
                    <a href="#">
                        <span class="icone"><ion-icon name="log-in-outline"></ion-icon></span>
                        <span class="texto">Sair</span>
                    </a>
                </li>
                <div class="indicador"></div>
            </ul>
        </div>